.blog-grid {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .blog-grid .blog-img {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    
  }
  
  .blog-grid .blog-info {
      box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
      border-radius: 5px;
      background: var(--white);
      padding: 20px;
      margin: -30px 20px 0;
      position: relative;
    }
  .blog-grid .blog-info h5 {
      font-size: 22px;
      font-weight: 500;
      margin: 0 0 10px;
    }